.main
	position relative
	height 100%
	center-block()
	&__input
		absolute top left bottom right
		height 100%
		width 100%
		opacity 0
		cursor pointer
	&__ask-text
		font-size 30px
	&__canvas
		width 95%
		height 100%
		vertical-center()
		&.active
			background-color #191919
		&:not(.active)
			display none
		.canvas-container
			margin 0 auto
	&.image-added
		.main
			&__inner
			&__input
				display none
				