@font-face {
    font-family: 'bebas_neuelight';
    src: url('f/babes/bebasneue_light-webfont.eot');
    src: url('f/babes/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('f/babes/bebasneue_light-webfont.woff') format('woff'),
         url('f/babes/bebasneue_light-webfont.ttf') format('truetype'),
         url('f/babes/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}