* 
	box-sizing border-box
	
html
	height 100%
body
	height 100%
	font-family: mainFont
	line-height: 1.44
	background-color #191919
	color #fff
	padding 40px 0 70px 0

strong
	font-family mainFontBold

a
	&:hover
	&:focus
		color #fff