.trip
	&-content
		font-family: Arial, Helvetica Neue, Helvetica, sans-serif
	&-block.white
		background-color tooltipBG
		color #fff
		&.s
			&:before
				border-bottom-color tooltipBG
		&.n
			&:before
				border-top-color tooltipBG
		&.w
			&:before
				border-left-color tooltipBG
		&.e
			&:before
				border-right-color tooltipBG
	&-progress-bar
		background-color #fff