.container
	if filtres
		.header__filters
			each item in filtres
				span.header__filters-item( data-filter=item.filter )!= item.name 
	.header__logo
		img(src="assets/i/logo.png" width="105" height="21" alt="logo")
	.header__save
		img.header__save-icon(src="assets/i/download.png" height="19" width="15" alt="save") 
		span.header__save-title save